.container li{
  list-style-type: none;
}

.container {
  text-align: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  background-image: url('https://i.pinimg.com/originals/76/47/44/76474427883430f2664fb570ac5c77c6.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  margin: auto;
  padding-bottom: 15px;
  border-radius: 50px;
}
